@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@700&display=swap");
body {
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

html {
  background: #000000 url("https://goo.gl/5wJBu");
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
}

.containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-family: 'Shippori Mincho', serif;
  font-size: 12vh;
  max-width: 1000px;
}

h1 {
  font-size: 5rem;
}

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

footer {
  height: 50vh;
}

:-webkit-any-link {
  color: #ffffff;
}

:-moz-any-link {
  color: #ffffff;
}

:any-link {
  color: #ffffff;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
}

.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 0.5rem;
}

.demo-text .text {
  font-size: clamp(6rem, 3vw, 3rem);
  line-height: 1;
  font-weight: 900;
}

.demo-gallery {
  margin-bottom: 0px;
  /* Ajusta el espacio entre las galerías */
}

ul.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.wrapper li {
  -webkit-box-flex: 1;
      -ms-flex: 1 2 23%;
          flex: 1 2 23%;
  /* Ajusta el ancho de cada imagen en la galería */
  margin: 10px;
  /* Ajusta el espacio entre las imágenes dentro de la galería */
}

ul.wrapper img {
  display: block;
  width: 150%;
  height: auto;
}

/**
 * Parallax styles
 *
 * All aesthetic styles are at the bottom for the benefit of better understanding the demo.
 */
html {
  /* Give our document a fake height for demo purposes. */
  height: 1500px;
  /* We must set out root `font-size` to 0 to prevent our parallax margins being calculated */
}

body {
  /* Reset the `font-size` to 16px/1em/100% */
  font-size: 16px;
}

/* Fix our parallax elements in position */
.parallax {
  position: fixed;
}

/**
 * Position our elements
 *
 * Firstly we set our element position using `top`, `right`, `bottom`, `left`, then set your parallax movement using `margin` and `rem`.
 *
 * In this demo our 'base factor' is 50 (see JavaScript). Our 'factor' calculation never exceeds this number (when the viewport is fully scrolled), which means our `rem` calculations are based on this number.
 *
 * Example:
 *
 * If I set my `top` to `200px` and want this element to shift up by `400px`, our `rem` value is 400/10, or `-40em` (using negative margins to shift upwards).
 */
.loadingClass {
  z-index: 6;
}

.box {
  z-index: 15;
  top: -1400px;
  /* Positive margin, so it appears from above */
  margin-top: 29rem;
  /* Center and pad */
  left: 50%;
  margin-left: -27%;
  padding: 2%;
  width: 50%;
}

.btn {
  top: 5em;
  right: -800px;
  margin-right: 18.5rem;
}

.skyline {
  top: 240px;
  margin-top: -28rem;
  left: 8%;
}

.blimp {
  top: 320px;
  margin-top: -55rem;
  left: 24%;
}

.gherkin {
  top: 200px;
  margin-top: -20rem;
  left: 40%;
  z-index: 0;
}

.bull {
  top: 360px;
  margin-top: -47rem;
  left: 56%;
}

.dino {
  top: 260px;
  margin-top: -33rem;
  left: 72%;
}

/**
 * Demo aesthetics
 */
a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

h1 {
  width: 100%;
  font: 3em/1 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

p {
  margin: 0 0 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

img {
  width: 20%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

code {
  background-color: #222;
  color: magenta;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
}
/*# sourceMappingURL=HomePage.css.map */